body{
  background-color: #ff85c2;
  
}
h1{
  font-family: 'Lobster', cursive;
  font-size: 45px;
}
#about{
   background-color:lightpink;
  border: solid;
  border-color:#ff526c;
  border-radius: 15px;
  max-width: 900px;
  margin-top: 40px;
justify-content: center;
}
p{
  max-width: 800px;
  font-size: 20px;
font-family: 'Dela Gothic One', cursive;
  max-height: 800px;
  margin-bottom: 10px;
  
}
img{
  width: 300px;
margin-top: 50px;
  height: 400px;
  margin-right: 80px;
  border: solid;
  border-radius: 25px;
  border-color: #ff0088;
  border-width: 3px;
  
}
#photo{

  width: 300px;
 border: solid;
  border-radius: 25px;
  border-color: #ff0088;
  border-width: 3px;
  height: 400px;
}
hr{
  height: 20px;
background-color: #ff386d;
  border: none;
}
.quote{
  font-size: 20px;
  font-family: 'Vesper Libre', serif;
  margin-top: 10px;

  margin-bottom: 5px;
}
  
.qt{

  font-size: 20px;
  font-family: 'Vesper Libre', serif;
  margin-top: 5px;
  margin-left: 500px;
}